//Variable Section
$pixel-font: 'VT323', monospace;
$tital-font: 'DM Sans', sans-serif;
$body-font: 'DM Sans', sans-serif;

$primary-color: #5e60ce;
$secondary-color: #5390d9;
$background-color: #012a4a;
$cart-color:#6930c3;
$text-highlight: rgb(252, 217, 90);
$text-color:#fff;
$main-text:#4ea8de;
//End Variable Section

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $body-font !important;
    font-family: $tital-font !important;

    color: $text-color !important;
        // Start Global Style
    p{
        color: $main-text;
        font-size: 1rem;
        line-height: 1.7em;
        font-weight: 400;
    }
    a{
        color: $text-color;
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-decoration: none ;
        font-weight: 800;
        &:hover{
            color: $text-color;
        }
    }
    li{
        list-style: none;
    }
    h1,h2,h3,h4{ 
        font-family:$body-font;
        font-weight: 700;
        line-height: 1.2rem ; 
        letter-spacing: -1px;

    }
    .pixel-text{
        font-family: $pixel-font;
        color: $text-color;
        letter-spacing: 1px;
    }
    .btn{
        color: $text-color;
        background-color: $secondary-color;
        font-size: 0.875rem;
        font-weight: 800;
        padding: 0.375rem 1.25rem;     
        border-radius: 5px;
       &:hover{
            box-shadow: 2px 2px 20px 0px $primary-color;
            color: $text-color;
       }
    }
    .p-title {
        font-family: $body-font;
        background: $secondary-color;
        border-radius: 3px;
        font-size: 0.7rem;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 0.6rem;
        padding:  0.4rem 0.6rem;
        text-transform: uppercase;
    }
    // End Global Style
}


// Start coll-item Style
.nft_coll{
    width: 19rem; 
    margin-right: 1.56rem;
    background: $cart-color;
    border-radius: 0.6rem;
    .nft_wrap{
        position: relative;
        width: 100%;
        height: 200%;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        img{
            display: block;
            width: 100%;
            transition: all .7s ease-in-out;
            &:hover{
                transform: scale(1.1); 
            }
        }
    }
    .nft_coll_info{
        text-align: center;
        padding: 1rem 0;
        position: relative;
        h4{
            font-size: 1rem;
        }
        span{
            font-size:0.8rem;
            color: $main-text;
        }  
    }
}
// End Global coll-item Style

// Start Global artical Style
.artical{
    h2{
        margin: 2rem 0;
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .btn{
        padding: .2rem 2rem;
    }
}
// End Global artical Style


// Start Navbar Style
 .navbar{
    background-color: $background-color;
    position: fixed !important;
    z-index: 1001;
    
    width: 100%;
     .nav-logo {       
         img{
            width: 5.6rem;
         }       
         span{
             font-size: 2.25rem;
             letter-spacing: 1px;
         }
    }
    .nav-menu {
        display: flex;
        align-items: center;
         li{
             margin-right: 2rem;  
            a{
                position: relative;
                &:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: -5px;
                    content: "";
                    display: block;
                    height: 2px;
                   
                    left: 0;
                    position: absolute;
                    background: $primary-color;
                    transition: width 1s ease 0s, left 1s ease 0s;
                    width: 0;
                }
                &:hover:after { 
                    width: 100%; 
                    left: 0; 
                }
            }
        }
    }   
    .menu-btn{
        display: none;
    }
 }

 @media screen and (max-width: 1200px){
    .nav-menu li{
        margin-right: 1rem !important;
        a{
            font-size: 0.75rem;
        }
    }
}
@media screen and (max-width: 990px){
    .nav-menu li{
        display: none;
    }
    .menu-btn {
            display: block !important;
            background: $secondary-color;
            padding: .3rem 0.6rem;
            margin-left: 2rem;
            cursor: pointer;
    }
}
    
// End Navbar Style

// Start Home Style
.home{
      background: rgba(0, 0, 0, 0) linear-gradient(200deg, #f72585 0%, #4cc9f0 100%);
    // background: url(../img/background.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    
        .row{
         display: flex;
         align-items: center;
         padding: 15rem 0;
        img{
            width: 50%;
        }
            h6 span{
                color: $text-highlight;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                
            }
            h1 {
                font-size: 3.6rem;
                margin-bottom: 1.25rem;
                line-height: 1.2em;
                letter-spacing: -1px;
            
                .pixel-text{
                    letter-spacing: 3px;
                    font-size: 140%;
                    word-spacing: -10px;
                    margin-left: .9rem;
                }
            }
            p{
                color: $text-highlight !important;
            }
            
            .home-btn{
                margin: 1rem 0;
                .btn{
                    font-size: 1.75rem;
                    letter-spacing: 2px;
                }
            }   
            a{   
                font-size: 1.12rem;
            }
           
    }      
}
// End Home Style

.attributes{
    background: $background-color;
    padding: 5.7rem 0;
    .row{
        align-items: center;
        img{
            margin: 1rem auto;
        }
        a{
        color: $text-highlight;
        }
    }
    
}

//Start Main Style
.main{
    background: $background-color;
    padding: 5.7rem 0;
    .container{
        h2{
            margin-bottom: .6rem;
            font-size: 2.25rem;
        }
        p{
            margin: 2rem;
            color: $main-text;
        }
        .row{
            align-items: center;
            img{
                margin: 0px auto 20px;
                max-height: 18.75rem;
            }
             .pricing-s1{
                background: $cart-color;
                 border-radius: .8rem;
                 padding: 2rem 0;
                 .top{
                 
                    h2{
                        font-size: 2rem;
                        line-height: 1em;
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 1.1rem;
                        margin: 0;
                        padding: 0;
                    }
                 }
                .mid{
                    background: $primary-color;  
                   
                    .price{
                        color: $text-color;
                        font-size: 3rem;
                         
                        .month{
                            font-size: 1rem;
                             
                        }
                    }
                }
                .bottom{
                    ul{
                        margin: 2rem 0;
                        padding: 0px;
                        li{
                            padding: 0.625rem 1.875rem;
                            .fa-check{
                                color: $primary-color;
                                margin-right: 0.625rem;
                            }
                        }
                        
                    }   
                }
                 .action{
                    border-top: solid 1px rgba(255, 255, 255, .2);
                    padding-top: 2rem;
                    .btn{
                        font-size: 1.5rem; 
                        padding: 0.312rem 1.875rem; 
                        letter-spacing: 2px;
                    }
                 }
            }      
        }
    }
}
//End Main Style

//Start feature-box Style
.feature-box{
    background:$background-color;
    padding: 5.6rem 0;
    
    }
    .f-boxed{
        background: $cart-color;
        padding: 3rem;
        margin-bottom: 2rem;
        border-radius: 6px;
        &:hover{
            background: $primary-color;
            transition: .7s;
        }
        h4{
            font-size: 1.25rem;
            padding-bottom: 1rem;
        }
        p{
            margin-bottom: 1.25rem;
        }
        .social-btn{
            justify-content:start;
            img{
                width: 4rem;
            }
        }
    
}
//End feature-box Style

//Start collection Style
.collection{
    background: $background-color;
    text-align: center;
    padding: 5.6rem 0;
    h1{
        margin-bottom: 3rem;
    }
    .coll-content{
        display: flex;
        justify-content: center;
        padding: 0 10rem;
    }
}
//End collection Style

//Sart stats Style
.stats{
    background: $background-color;
    .row{
        align-items: center;
        .col-md-5 h2{
            margin-bottom: 0.625rem;
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 2.875rem;
        }
        .nft_coll{
            margin: .9rem;
        }
         .col-md-6{
             margin-bottom: 2rem;
             .de-count{
                 padding: 1.25rem;
             }
             h3{
                 font-size: 2.25rem;
                 margin-bottom: 0.9rem;
                 line-height: .5em;
             }    
             h5{
                 font-size: 0.875rem;
             }
         }
    }
}
//End stats Style

// Start roadmap Style
.roadmap{
    background: $background-color;
    padding: 5.6rem 0; 

}
// End roadmap Style

//Start video-section Style
.video-section{
    background:$background-color;
    padding: 5.6rem 0;
    .row{
        align-items: center;
        iframe{
            width: 100%;
            border-radius: 5px;
            margin-bottom: 1rem;
        }
        img{
            margin-top: 1rem;
            max-width: 100%;
        }
    }
}
//End video-section Style

// Start faq-section Style
.faq-section{
    background: $background-color;
    padding-bottom: 5.6rem;
   
    .container{
        h3{
            font-size: 1.375rem;
            margin-bottom: 1.56rem;
        }
        .accordion{
         
            .accordion-item {
                background: $cart-color;
                margin-bottom: 1px;
                border: none;
                 .accordion-item-header {
                    position: relative;
                    cursor: pointer;
                    padding: 1rem 1.25rem;
                  }
                 .accordion-item-body {
                    max-height: 0;
                    overflow: hidden;
                    display: hidden;
                    background: #21273e;
                    transition: max-height 0.2s ease-out;
                        .accordion-item-body-content {
                        padding: 1rem 1.25rem;                       
                    }
                }
            }
        }
    }  
}
// End faq-section Style

//Start footer Style
footer{
    background: $cart-color;
    padding-top: 5.6rem;
   
    .widget{
        margin-bottom: 1.8rem;
        padding-bottom: 1.8rem;
        h5{
            margin-bottom: 1.25rem;
            font-size: 1.12rem;
        }
        a{
            color: $text-highlight;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                margin: 0.3rem 0;
                a{
                    color: $main-text !important;
                    font-weight: lighter;
                }
            }
        }
        p{
            margin-bottom: 1.25rem;
        }   
        img{
            width: 4rem;
        };
    }
}
.subfooter{
    border-top: solid 1px rgba(255, 255, 255, .2);
    background: $cart-color;
    padding: 1rem;
    a{
        margin: 5px 0;
        color: $main-text !important;
        font-weight: lighter;
    }
    img{
        height: 3rem; 
        margin-right: 0.9rem;
    }
}
//Start footer Style

//Start Attribute Page Header Style
.header{
    background-image: url("../img/subheader-dark.jpg");
    text-align: center;
    padding: 10rem 0 6.25rem;
    h1{
        font-size: 3rem;
    }
}
//End Attribute Page Header Style

//Start Attribute Page d-coll Style
.d-coll{
    background: $background-color;
    padding-bottom: 5.6rem;
    .d-nav{
        text-align: center;
        li{
            font-weight: 800;
            display: inline-block;
            margin: 0.3rem;
            background: $cart-color;
            border-radius: 3px;
            padding: .5rem 1rem;
             cursor: pointer;
            span{
                color: #686c7c; 
            }
        }
        .active{
            background: $primary-color !important;
            span{
                color: $text-color ;
            }     
        }
    }
    
        .nft-item{  
            background: #575e77;
            border-radius: .9rem;
            padding: 1.25rem;
            margin-bottom: 1.56rem;
            .nft-item-wrap{
                margin-bottom: 1.25rem;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .nft-item-info{
                a{
                    font-weight: bold;
                }
                h4{
                    font-weight: 800;
                    font-size: .9rem;
                    margin-bottom: 5px;
                    letter-spacing: normal;
                }
            }
            .nft-item-price{
                font-size: .8rem;
                font-weight: 600;
                color: $main-text;
                span{
                    color: $text-highlight;
                }
            }
        }
    
}
//End Attribute Page d-coll Style

//Start Roadmap Page
.roadmap-section{
    background: $background-color;
    padding: 5.6rem;
    li{
        background:#1c223e; 
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        .pixel-text{
            color: $text-highlight;
            letter-spacing: 2px;
            font-size: 18px;
        }
        .act-list-text{
            margin-top: 8px;
            padding-right: 100px;
            h4{
                font-size: 18px;
                line-height: 26px;
                letter-spacing: normal;
            }
        }
    }
    .act-follow{
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 10px;
        
        .pixel-text{
            color: $text-highlight;
            letter-spacing: 2px;
            font-size: 18px;
            }
        .act-list-text{
            margin-top: 8px;
            padding-right: 100px;
            position: relative;
            h4{
                font-size: 18px;
                line-height: 26px;
                letter-spacing: normal;
            }
            ul{
               
                li{ 
                    background:#22274b;
                    padding: 20px;
                    margin-bottom: 30px;
                    border-radius: 10px;
                    .pixel-text{
                        display: block;
                        margin-bottom: 8px; 
                        font-size: 18px; 
                        letter-spacing: 2px;
                    }
                }
            }
            &::after{
                content: "\f00c";
                color:#7366f0;
                font-family: "FontAwesome";
                position: absolute;
                right:30px;
                top: 0;
                font-size: 26px;
                background: #fff;
                height: 48px;
                width: 48px;
                padding: 5px 0;
                text-align: center;
                border-radius: 100%;
            }
        }
    }
}
//End Roadmap Page