html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif !important;
  font-family: "DM Sans", sans-serif !important;
  color: #fff !important;
}

body p {
  color: #9fa4dd;
  font-size: 1rem;
  line-height: 1.7em;
  font-weight: 400;
}

body a {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: 800;
}

body li {
  list-style: none;
}

body h1, body h2, body h3, body h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: -1px;
}

body .pixel-text {
  font-family: "VT323", monospace;
  color: #fff;
  letter-spacing: 1px;
}

body .btn {
  color: #fff;
  background-color: #4e1290;
  font-size: 1.75rem !important;
  font-weight: 800;
  padding: .5rem 1.8rem;
  letter-spacing: 2px;
  border-radius: 5px;
}

body .p-title {
  font-family: "DM Sans", sans-serif;
  background: #4e1290;
  border-radius: 3px;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 0.6rem;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
}

.nft_coll {
  width: 305.25px;
  margin-right: 25px;
  background: #21273e;
  border-radius: 0.6rem;
}

.nft_coll .nft_wrap {
  position: relative;
  width: 100%;
  height: 200%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.nft_coll .nft_wrap img {
  width: 100%;
}

.nft_coll .nft_coll_info {
  text-align: center;
  padding: 20px 0 10px;
  position: relative;
}

.nft_coll .nft_coll_info h4 {
  font-size: 1rem;
}

.nft_coll .nft_coll_info span {
  font-size: 0.8rem;
  color: #9fa4dd;
}

.artical h2 {
  margin: 2rem 0;
  font-size: 2.3rem;
  line-height: 3rem;
}

.artical .btn {
  font-size: .87rem !important;
  padding: 8px 40px;
}

.navbar {
  position: fixed;
  background-color: #161d30;
}

.navbar .nav-logo img {
  width: 5.6rem;
}

.navbar .nav-logo span {
  font-size: 2.25rem;
  letter-spacing: 1px;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-menu .nav-link a {
  padding: 1.8rem 1rem;
}

.navbar .nav-menu .btn {
  font-size: 0.8rem !important;
  padding: 6px 20px;
  word-spacing: -2px;
}

.home {
  background: rgba(0, 0, 0, 0) linear-gradient(200deg, #a54679 0%, #7540ab 100%);
}

.home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15rem 0;
}

.home .row img {
  width: 50%;
  margin-left: 7rem;
}

.home .row h6 span {
  color: #fcd95a;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home .row h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
  line-height: 1.2em;
  letter-spacing: -1px;
}

.home .row h1 .pixel-text {
  letter-spacing: 3px;
  font-size: 140%;
  word-spacing: -10px;
  margin-left: .9rem;
}

.home .row p {
  color: #fcd95a !important;
}

.home .row .home-btn {
  margin: 2rem 0;
}

.home .row a {
  font-size: 1.12rem;
}

.header {
  background-image: url("../img/subheader-dark.jpg");
  text-align: center;
  overflow: hidden;
  padding: 70px 0 100px 0;
}

.header h1 {
  font-size: 3rem !important;
}

.main {
  background: #161d30;
  padding: 5.7rem 0;
}

.main .container h2 {
  margin-bottom: .6rem;
  font-size: 2.25rem;
}

.main .container p {
  margin: 2rem;
  color: #9fa4dd;
}

.main .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .row .col-md-4 {
  margin-right: 5rem;
}

.main .container .row img {
  max-height: 18.75rem;
}

.main .container .row .col-md-8 {
  background: #21273e;
  width: 50%;
  padding: 2rem 0;
  border-radius: .8rem;
}

.main .container .row .col-md-8 .top p {
  font-size: 1.1rem;
}

.main .container .row .col-md-8 .mid {
  background: #7540ab;
}

.main .container .row .col-md-8 .mid .price {
  padding: 1rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.main .container .row .col-md-8 .mid .price .coin {
  font-size: 1rem;
}

.main .container .row .col-md-8 .bottom {
  margin: 2rem 0;
}

.main .container .row .col-md-8 .bottom .fa-check {
  color: #7540ab;
  padding: .5rem;
}

.main .container .row .col-md-8 .action {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  padding-top: 2rem;
}

.feature-box {
  background: #161d30;
  padding: 5.6rem 0;
}

.feature-box .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-box .f-boxed {
  background: #21273e;
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 6px;
}

.feature-box .f-boxed:hover {
  background: #7540ab;
  -webkit-transition: .7s;
  transition: .7s;
}

.feature-box .f-boxed h4 {
  padding-bottom: 1rem;
}

.feature-box .f-boxed .social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.feature-box .f-boxed .social-btn img {
  width: 4rem;
}

.collection {
  background: #161d30;
  text-align: center;
  padding: 5.6rem 0;
}

.collection h1 {
  margin-bottom: 3rem;
}

.collection .coll-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10rem;
}

.d-coll {
  background: #161d30;
  padding: 5.6rem 0;
}

.d-coll .d-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-coll .d-nav li {
  background: #21273e;
  border-radius: 3px;
  margin: 0 .3rem;
  padding: .5rem 1rem;
  cursor: pointer;
}

.d-coll .d-nav li span {
  color: #686c7c;
}

.d-coll .d-nav .active {
  background: #7540ab !important;
}

.d-coll .d-nav .active span {
  color: #fff;
}

.d-coll .d-content {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-coll .d-content .nft-item {
  background: #575e77;
  border-radius: 15px;
  padding: 20px;
  margin: 0 1rem;
}

.d-coll .d-content .nft-item .nft-item-wrap {
  margin-bottom: 20px;
}

.d-coll .d-content .nft-item .nft-item-wrap img {
  width: 10rem;
}

.d-coll .d-content .nft-item .nft-item-price {
  padding: .5rem 0;
  color: #9fa4dd;
}

.d-coll .d-content .nft-item .nft-item-price span {
  color: #fcd95a;
}

.stats {
  background: #161d30;
  padding: 5.6rem 0;
}

.stats .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats .row .col-md-5 h2 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}

.stats .row .nft_coll {
  margin: .9rem;
}

.stats .row .col-md-6 {
  margin-bottom: 2rem;
}

.stats .row .col-md-6 .de-count {
  padding: 20px 0 10px 10px;
}

.stats .row .col-md-6 h3 {
  font-size: 2.25rem;
  margin-bottom: 15px;
  line-height: .5em;
}

.stats .row .col-md-6 h5 {
  font-size: 14px;
  font-weight: 500;
}

.roadmap {
  background: #161d30;
  padding: 5.6rem 0;
}

.roadmap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap .container img {
  margin: 0 auto;
}

.video-section {
  background: #161d30;
  padding: 5.6rem 0;
}

.video-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-section .container .artical {
  width: 41%;
}

.video-section .container iframe {
  margin: 0 3rem;
}

.video-section .container .become img {
  padding-top: 2rem;
}

.faq-section {
  background: #161d30;
  padding: 5.6rem 0;
}

.faq-section .container h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

.faq-section .container .accordion .accordion-item {
  background: #7540ab;
  margin-bottom: 1px;
  border: none;
}

.faq-section .container .accordion .accordion-item .accordion-item-header {
  position: relative;
  cursor: pointer;
  padding: 1rem 1.25rem;
}

.faq-section .container .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  display: hidden;
  background: #21273e;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.faq-section .container .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
  padding: 1rem 1.25rem;
}

footer {
  background: #21273e;
  padding-top: 5.6rem;
}

footer .widget {
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
}

footer .widget h5 {
  margin-bottom: 1.25rem;
  font-size: 1.12rem !important;
}

footer .widget p {
  margin-bottom: 1.25rem;
}

footer .widget li a {
  margin: 5px 0;
  color: #9fa4dd !important;
  font-weight: lighter;
}

footer .widget img {
  width: 64px;
}

.subfooter {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  background: #21273e;
  padding: 1rem;
}

.subfooter a {
  margin: 5px 0;
  color: #9fa4dd !important;
  font-weight: lighter;
}

.subfooter img {
  height: 48px;
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */